.return-icon {
  transform: scale(1.5);
  margin-right: 5px;
}

.return-icon:hover {
  cursor: pointer;
}

.form-input {
  margin-bottom: 16px;
}

.mat-form-field {
  padding: 0 5px 25px 5px;
  width: 95%;
}

.interval-field {
  padding: 0 5px 10px 25px;
  width: 50vh;
}

.submit-button {
  margin: 5px;
}

.form-controls {
  margin-left: 5px;
}
