.mat-table {
  width: 100%;
}

.mat-column-more-info {
  text-align: center;
  width: 90px;
}

.mat-row:hover .mat-cell {
  background: aliceblue;
}

.action-button {
  margin: 2px;
}

.add-task-button {
  margin-top: 25px;
}

.logs-table {
  position: relative;
  max-height: 700px;
  overflow: auto;
  border: 1px solid #e0e0e0;
  background: white;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-paginator {
  border-top: 1px solid #e0e0e0;
  bottom: 0;
  position: sticky;
  z-index: 10;
}
