<div class="card mat-elevation-z8">
  <div class="card-header">
    <span>Task executors</span>
  </div>
  <div class="card-body">
    <div id="table">
      <table mat-table [dataSource]="dataSource" class="task-executors-table">
        <!-- ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.task.task_id }}</td>
        </ng-container>

        <!-- Command -->
        <ng-container matColumnDef="command">
          <th mat-header-cell *matHeaderCellDef>Command</th>
          <td mat-cell *matCellDef="let row">{{ row.task.command }}</td>
        </ng-container>

        <!-- Running -->
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef>Active</th>
          <td mat-cell *matCellDef="let row" >
            <mat-slide-toggle [checked]="row.active" (change)="switchActivate(row)"></mat-slide-toggle>
          </td>
        </ng-container>

<!--        <ng-container matColumnDef="actions">-->
<!--          <th mat-header-cell *matHeaderCellDef>Actions</th>-->
<!--&lt;!&ndash;          <td mat-cell *matCellDef="let row" class="action-link">&ndash;&gt;-->
<!--&lt;!&ndash;            <div *ngIf="row.is_running; then thenBlock else elseBlock"></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-template #thenBlock>&ndash;&gt;-->
<!--&lt;!&ndash;              <button mat-icon-button color="warn" class="action-button" (click)="openStopDialog(row)">&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-icon>pause</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;              </button>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-template #elseBlock>&ndash;&gt;-->
<!--&lt;!&ndash;              <button mat-icon-button color="primary" class="action-button" (click)="runExecutor(row)">&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-icon>play_arrow</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;              </button>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--          <td mat-cell *matCellDef="let row" >-->
<!--            <mat-slide-toggle [checked]="row.is_running" (change)="switchActivate(row)"></mat-slide-toggle>-->
<!--          </td>-->
<!--        </ng-container>-->

        <!-- Header and row-->
        <tr mat-header-row *matHeaderRowDef="columnDefs"></tr>
        <tr mat-row *matRowDef="let row; columns: columnDefs;"></tr>
      </table>
    </div>
  </div>
</div>
