<div class="card mat-elevation-z8">
  <div class="card-header">
    <span>Tasks</span>
  </div>

  <div class="card-body">
    <div class="logs-table">
      <table mat-table [dataSource]="dataSource">
        <!-- Time -->
        <ng-container matColumnDef="time" class="log-row time-row">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell class="data-cell time-cell" *matCellDef="let row">{{ row.time }}</td>
        </ng-container>

        <!-- Message -->
        <ng-container matColumnDef="message" class="log-row message-row">
          <th mat-header-cell *matHeaderCellDef>Message</th>
          <td mat-cell class="data-cell" *matCellDef="let row">
            <pre>{{ row.message }}</pre>
          </td>
        </ng-container>

        <!-- Loading footer -->
        <ng-container matColumnDef="loading">
          <td mat-footer-cell *matFooterCellDef colspan="2">
            ...
          </td>
        </ng-container>

        <!-- Header and footer-->
        <tr mat-header-row *matHeaderRowDef="columnDefs; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnDefs;"></tr>
        <tr mat-footer-row *matFooterRowDef="['loading']"
            [style.display]="this.executionFinished ? 'none' : ''"></tr>

      </table>
    </div>

    <h3 *ngIf="executionFinished" class="finish-message">
      {{ getFinishMessage() }}
    </h3>
  </div>
</div>
