.mat-table {
  width: 100%;
}

td.time-cell {
  background: #dadada33;
  border-right: 1px solid #e0e0e0;
}

.mat-column-time {
  width: 200px;
}

.mat-column-message {
  padding-left: 25px;
}

td {
  border-bottom: 1px transparent;
}

tr.mat-row {
  height: 30px !important;
}

pre {
  display: inline;
}

.mat-cell {
  height: auto;
}

.mat-row {
  padding: 20px
}

.logs-table {
  position: relative;
  max-height: 700px;
  overflow: auto;
  border: 1px solid #e0e0e0;
}
