.mat-table {
  width: 100%;
}

td.time-cell {
  background: #dadada33;
  border-right: 1px solid #e0e0e0;
}

.mat-column-time {
  width: 200px;
  font-family: Consolas, Consolas, sans-serif;
  user-select: none;
}

.mat-column-message {
  padding-left: 25px;
}

td {
  border-bottom: 1px transparent;
}

td.mat-cell:first-child {
  padding-left: 12px;
}

.mat-footer-row {
  background: transparent !important;
  outline: 1px solid #e0e0e0;
  height: 30px;
  text-align: center;
}

tr.mat-row {
  height: 23px !important;
}

pre {
  display: inline;
}

.logs-table {
  position: relative;
  max-height: 700px;
  overflow: auto;
  border: 1px solid #e0e0e0;
}

.finish-message {
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 0;
}
