<div class="card mat-elevation-z8">
  <div class="card-header">
    <span>Tasks</span>
  </div>

  <div class="card-body">
    <div class="logs-table">
      <table mat-table [dataSource]="dataSource">
        <!-- Time -->
        <ng-container matColumnDef="time" class="log-row time-row">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td class="time-cell" mat-cell *matCellDef="let row">{{ row.time }}</td>
        </ng-container>

        <!-- Message -->
        <ng-container matColumnDef="message" class="log-row message-row">
          <th mat-header-cell *matHeaderCellDef>Message</th>
          <td mat-cell *matCellDef="let row">
            <pre>{{ row.message }}</pre>
          </td>
        </ng-container>

        <!-- Header and row-->
        <tr mat-header-row *matHeaderRowDef="columnDefs; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnDefs;"></tr>
      </table>
    </div>
  </div>
</div>
