.card {
  margin: 16px;
}

.card-header {
  padding: 16px;
}

.card-body {
  padding: 16px;
}

.form-input {
  margin-bottom: 16px;
}

.mat-form-field {
  padding: 0 5px 25px 5px;
  width: 95%;
}

.interval-field {
  padding: 0 5px 10px 25px;
  width: 50vh;
}
