.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.return-icon {
  transform: scale(1.5);
  margin-right: 5px;
}

.tasks-table {
  width: 100%;
  border: 1px solid #e6e6e6;
}

.mat-column-id {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-actions {
  text-align: center;
  width: 90px;
}

.action-button {
  margin: 2px;
}

.add-task-button {
  margin-top: 25px;
}
